.tudotutorial {
    width: 100vw; 
    height: 100vh; 
    overflow: hidden; 
    position: relative;
  }
  
  .img-tutorial1 {
    width: 3840px; 
    height: 1129px; 
    position: absolute;
    top: 0;
    left: 0;
  }