 .central-opicao{
  background-image: url('../../../public/assets/img/arte_menu_Wukong_novo.png');
  background-position: center; 
  background-color: #00000081; 
  background-blend-mode: overlay; 
  height: 100vh;
  width: 100%;
  padding-bottom: 2px;
  }
  
  .tudo-opica {
    position: relative;
    background-image: url('../../../public/assets/img/arte_menu_Wukong_novo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #00000081;
    background-blend-mode: overlay;
    height: 100vh;
    width: 100%;
    padding-bottom: 2px;
}

.novojogo-opicao {
    font-size: 50px;
    position: absolute;
    top: 26vh; 
    left: 95vh;       
    color: #412B1F;    
}
  
.img-opicao{
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.seve1-opicao{
    background-image: url('../../../public/assets/img/Plaquinha-fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 235px;
    width: 299px;
    background-color: transparent;
    border: none;
    background-position: center;
    margin-left: 92vh;
    margin-top: 32vh;
    position: absolute;

    font-weight: 400px;
    font-size: 30px;
}

.seve2-opicao{
    background-image: url('../../../public/assets/img/Plaquinha-fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 235px;
    width: 299px;
    background-color: transparent;
    border: none;
    background-position: center;
    margin-left: 92vh;
    margin-top: 44vh;
    position: absolute;
    font-weight: 400;
    font-size: 30px;
}

.seve3-opicao{
    background-image: url('../../../public/assets/img/Plaquinha-fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 235px;
    width: 299px;
    background-color: transparent;
    border: none;
    background-position: center;
    margin-left: 92vh;
    margin-top: 56vh;
    position: absolute;
    font-weight: 400;
    font-size: 30px;
}

.sair-novojogo {
    background-image: url('../../../public/assets/img/bottaoX.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
    position: absolute;
    height: 100px;
    width: 100px;
    cursor: pointer;
    top: 70vh;
    left: 123vh;
}
