.central-opicao{
    background-image: url(http://localhost:3000/static/media/arte_menu_Wukong_novo.d21c347….png);
    background-repeat: no-repeat;
    padding-bottom: 2px;
    background-size: cover;
    background-position: center;
    height: 100vh;
   
    width: 100%;
  }
  
  .tudo-opica {
    position: relative;
    background-image: url('../../../public/assets/img/arte_menu_Wukong_novo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #00000081;
    background-blend-mode: overlay;
    height: 100vh;
    width: 100%;

}

.novojogo-opicao {
    font-size: 50px;
    position: absolute;
    top: 25vh; 
    left: 91vh;       
    color: #412B1F;    
}
  
.img-opicao{
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 80vh;
    width: 80vh;
  
    margin-left: 65vh;
}
.save1-opicao{
    background-image: url('../../../public/assets/img/Plaquinha-fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
    position: absolute;
    height: 17vh;
    width: 39vh;
    cursor: pointer;
    top: 35vh;
    left: 85vh;

    font-weight: 700;
    font-size: 30px;
    font-family: 'Irish Grover';
    color: #412B1F;
}.save2-opicao{
    background-image: url('../../../public/assets/img/Plaquinha-fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
    position: absolute;
    height: 17vh;
    width: 39vh;
    cursor: pointer;
    top: 50vh;
    left: 85vh;

    font-weight: 700;
    font-size: 30px;
    font-family: 'Irish Grover';
    color: #412B1F;
}

.save3-opicao{
    background-image: url('../../../public/assets/img/Plaquinha-fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
    position: absolute;
    height: 17vh;
    width: 39vh;
    cursor: pointer;
    top: 65vh;
    left: 85vh;

    font-weight: 700;
    font-size: 30px;
    font-family: 'Irish Grover';
    color: #412B1F;
}

.sair-novojogo {
    background-image: url('../../../public/assets/img/bottaoX.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
    position: absolute;
    height: 100px;
    width: 100px;
    cursor: pointer;
    top: 20vh;
    left: 121vh;
}