
* {
  margin: 0px;
  box-sizing: border-box;
}

.saves {
 
  background-size: 250px;
  padding: 110px 110px 120px 110px;
  border: transparent;
  background-color: transparent;
  margin: 0px 0px -130px 130px;
  font-family: 'Irish Grover';
  font-size: 17px;
}

.botao1 {
  margin: -65px 0px 0px 0px;
}

.divcentral {
  margin-top: 246px;
  margin-left: 880px;
}

.titulo {
  margin: -440px 0px 0px 190px;
  font-family: 'Irish Grover';
}