

.divcentral-opicaofora {
  background-image: url('../../../public/assets/img/arte_menu_Wukong_novo.png');
  background-repeat: no-repeat;
  padding-bottom: 2px;
  background-size: cover; /* Opcional: ajusta o tamanho da imagem para cobrir o contêiner */
  background-position: center; /* Opcional: centraliza a imagem no contêiner */
  height: 100vh;
  width: 100%;
}

.NovoJogo {
  /* background-image: url('../../assets/img/BotaoNovoJgo.webp'); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 170px;
  background-color: transparent;
  border: none;
  position: absolute;
  margin-left: 1400px;
  margin-top: 145px;
  background-position: center;
}

.BotaoJogar {
  /* background-image: url('../../assets/img/BotaoJogar.webp'); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 170px;
  background-color: transparent;
  border: none;
  margin-left: 1400px;
  margin-top: 45px;
  background-position: center;
}

.img-opicao {
  height: 560px;
  width: 560px;
  position: absolute;
  margin-left: 70vh;
  margin-top: 20vh;
}
.creditos-opicaofora {
  background-image: url('../../../public/assets/img/Plaquinha-fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 223px;
  width: 333px;
  background-color: transparent;
  border: none;
  background-position: center;
  margin-left: 80vh;
  margin-top: 29vh;
  position: absolute;
  /* font-family: 'Irish Grover'; */
  font-weight: 400;
  font-size: 30px;
}

.opcao-opicaofora {
  background-image: url('../../../public/assets/img/Plaquinha-fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 223px;
  width: 333px;
  background-color: transparent;
  border: none;
  background-position: center;
  margin-left: 80vh;
  margin-top: 40vh;
  position: absolute;
  /* font-family: 'Irish Grover'; */
  font-weight: 400;
  font-size: 30px;
}

.voltamenu1-opicaofora{
  background-image: url('../../../public/assets/img/botao-tres-orizontal.png');
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  position: absolute;
  height: 100px;
  width: 100px;
  margin-left: 104vh;
  margin-top: 298px;
  
}
.cancelar1-opicaofora {
  background-image: url('../../../public/assets/img/bottaoX.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  position: absolute;
  height: 100px;
  width: 100px;
  margin-left: 100vh;
  margin-top: 54vh;
}

.duvidas1-opicaofora {
  background-image: url('../../../public/assets/img/Duvidas.png');
  background-size: cover;
  background-position: center;
  background-color: transparent;
  border: none;
  position: absolute;
  height: 100px;
  width: 100px;
  margin-left: 82vh;
  margin-top: 54vh;
}

.titulo {
  font-family: 'Irish Grover';
  color: #543321;
  font-weight: 400;
  font-size: 80px;
  position: absolute;
  margin-left: 90px;
  margin-top: 50px;
}