* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.container-home {
  
    background-image: url('../../../public/assets/img/arte_menu_Wukong_novo.png');
    background-repeat: no-repeat;
    padding-bottom: 2px;
    background-size: cover; /* Opcional: ajusta o tamanho da imagem para cobrir o contêiner */
    background-position: center; /* Opcional: centraliza a imagem no contêiner */
    height: 100vh;
    width: 100%;
}


.container-h1 {
  display: flex;
  justify-content: space-between;
}

.titulo-home,
.tituo-home2 {
  font-size: 80px;
  color: #412B1F;
  position: fixed;
  left: 100px;
}

.titulo-home {
  top: 80px;
}

.tituo-home2 {
  top: 170px;
}

.botao-home {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 95%;
}

.jogar-butom,
.novo-jogo-butom,
.opicoes {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.imagem-botao-jogar,
.imagem-novo-jogar,
.imagem-opicoes {
  display: block;
}

.imagem-botao-jogar {
  height: 232px;
  width: 232px;
}

.imagem-novo-jogar {
  height: 239px;
  width: 239px;
}

.imagem-opicoes {
  height: 100px;
  width: 100px;
}